html {
	font-family: "sarasa sc";
}
h2,
h3 {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}
p,
li {
	line-height: 1.5em;
}
li.expanded {
	line-height: 2.2em;
}
code {
	font-size: 1em;
}
:not(pre) > .hljs {
	padding-block-start: 0em;
	padding-block-end: 0em;
	font-family: "sarasa sc";
	font-size: 1em;
}
pre.mermaid {
	position: relative;
	border-radius: 5px;
	padding-block-start: 2em;
	padding-block-end: 2em;
	background-color: #fdfbf5;
	background-image: linear-gradient(transparent 98%, rgb(204, 204, 204) 98%),
		linear-gradient(to right, transparent 98%, rgb(204, 204, 204) 98%);
	background-size: 2em 2em;
	background-position: 1em 1em;
}
svg {
	margin-inline-start: auto;
	margin-inline-end: auto;
	display: flex;
	width: 100%;
}
@font-face {
	font-family: "FontAwesome";
	src: url("https://cdn.staticfile.org/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0&display=swap");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
