html {
	font-family: "sarasa sc";
}
h2,
h3 {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}
p,
li {
	line-height: 1.5em;
}
code {
	font-size: 1em;
}
:not(pre) > .hljs {
	padding-block-start: 0em;
	padding-block-end: 0em;
	font-family: "sarasa sc";
	font-size: 1em;
}
pre.mermaid {
	position: relative;
	border-radius: 5px;
	padding-block-start: 2em;
	padding-block-end: 2em;
	background-color: #fdfbf5;
	background-image: linear-gradient(transparent 98%, rgb(204, 204, 204) 98%),
		linear-gradient(to right, transparent 98%, rgb(204, 204, 204) 98%);
	background-size: 30px 30px;
	background-position: 10px 10px;
}
svg {
	margin-inline-start: auto;
	margin-inline-end: auto;
	display: flex;
}
